<div class="d-flex flex-row">
  <ng-container *ngIf="itemType === 'basic'">
    <ng-template [ngTemplateOutlet]="itemTypeBasic"></ng-template>
  </ng-container>
  <ng-container *ngIf="itemType === 'link'">
    <ng-template [ngTemplateOutlet]="itemTypeLink"></ng-template>
  </ng-container>
  <ng-container *ngIf="itemType === 'divider'">
    <ng-template [ngTemplateOutlet]="itemTypeDivider"></ng-template>
  </ng-container>
  <ng-container *ngIf="itemType === 'title'">
    <ng-template [ngTemplateOutlet]="itemTypeTitle"></ng-template>
  </ng-container>
</div>

<ng-container *ngIf="hasChildren">
  <div class="side-nav--group side-nav--group--level-{{ hierLevel + 1 }}"
    [@childGroupAnim]="childGroupAnimState$ | async">
    <seam-side-nav-item *ngFor="let child of children"
      [hierLevel]="compact ? 0 : (hierLevel + 1)"
      [compact]="compact"
      [isMobile]="isMobile"
      [itemType]="$any(child).itemType"
      [icon]="$any(child).icon"
      [label]="$any(child).label"
      [link]="$any(child).link"
      [badgeText]="$any(child).badge?.text"
      [badgeTheme]="$any(child).badge?.theme || 'danger'"
      [badgeSrContent]="$any(child).badge?.srContent"
      [badgeTooltip]="$any(child)?.badge?.tooltip"
      [queryParams]="$any(child).queryParams"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [children]="$any(child)?.children"
      [active]="$any(child).__state?.active"
      [expanded]="$any(child).__state?.expanded"
      [menuItemTooltipConfig]="menuItemTooltipConfig"
      [menuItemTooltipDisabled]="menuItemTooltipDisabled"
      [activeNavigatable]="$any(child).activeNavigatable">
    </seam-side-nav-item>
  </div>
</ng-container>

<ng-template #itemTypeBasic>
  <button class="side-nav-item btn side-nav-btn p-0 d-flex flex-row rounded-0 text-decoration-none text-nowrap w-100"
    cdkMonitorElementFocus
    (click)="toggleChildren()"
    [attr.aria-expanded]="expanded"
    [ngbTooltip]="label"
    [tooltipClass]="$any(menuItemTooltipConfig)?.class"
    [placement]="$any(menuItemTooltipConfig)?.placement"
    [container]="$any(menuItemTooltipConfig)?.container"
    [disableTooltip]="$any(menuItemTooltipDisabled)"
    [class.active-clickable]="activeNavigatable">
    <div class="nav-link d-flex flex-row w-100" [class.nav-link__compact]="compact">
      <div [style.padding-left.px]="hierLevel * indentSize"></div>
      <div class="side-nav-item--icon">
        <seam-icon *ngIf="icon" [icon]="icon"></seam-icon>
        <ng-container *ngIf="compact">
          <ng-template [ngTemplateOutlet]="itemBadge"></ng-template>
        </ng-container>
      </div>
      <span *ngIf="!compact" side-nav-item-label style="margin-left: 11px;">
        {{ label }}
      </span>
      <span *ngIf="compact" class="sr-only" side-nav-item-label>{{ label }}</span>
      <ng-container *ngIf="!compact">
        <ng-template [ngTemplateOutlet]="itemBadge"></ng-template>
      </ng-container>
    </div>

    <div *ngIf="hasChildren && !compact"
      class="btn side-nav-btn side-nav-item--toggle-btn-container rounded-0">
      <seam-icon
        class="side-nav-item--toggle-btn"
        [class.side-nav-item--toggle-btn-expanded]="expanded"
        [icon]="faAngleLeft"
        type>
      </seam-icon>
    </div>
  </button>
</ng-template>

<ng-template #itemTypeLink>
  <div class="d-flex flex-row w-100"
    [ngbTooltip]="label"
    [tooltipClass]="$any(menuItemTooltipConfig)?.class"
    [placement]="$any(menuItemTooltipConfig)?.placement"
    [container]="$any(menuItemTooltipConfig)?.container"
    [disableTooltip]="$any(menuItemTooltipDisabled)">
    <a *ngIf="link; else noLink" class="side-nav-item nav-link d-flex flex-row text-nowrap w-100 align-items-center"
      [class.nav-link__compact]="compact"
      [routerLink]="link"
      [queryParams]="queryParams"
      [state]="_linkHistoryState"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="_linkClicked()"
      [class.active-clickable]="activeNavigatable">
      <div [style.padding-left.px]="hierLevel * indentSize"></div>
      <div class="side-nav-item--icon">
        <seam-icon *ngIf="icon" [icon]="icon"></seam-icon>
        <ng-container *ngIf="compact">
          <ng-template [ngTemplateOutlet]="itemBadge"></ng-template>
        </ng-container>
      </div>
      <span *ngIf="!compact" style="margin-left: 11px;" side-nav-item-label>
        {{ label }}
      </span>
      <span *ngIf="compact" class="sr-only" side-nav-item-label>{{ label }}</span>
      <ng-container *ngIf="!compact">
        <ng-template [ngTemplateOutlet]="itemBadge"></ng-template>
      </ng-container>
    </a>

    <ng-template #noLink>
      <a class="side-nav-item nav-link d-flex flex-row text-nowrap w-100 align-items-center"
        [class.nav-link__compact]="compact"
        [ngbTooltip]="label"
        [tooltipClass]="$any(menuItemTooltipConfig)?.class"
        [placement]="$any(menuItemTooltipConfig)?.placement"
        [container]="$any(menuItemTooltipConfig)?.container"
        [disableTooltip]="$any(menuItemTooltipDisabled)">
        <div [style.padding-left.px]="hierLevel * indentSize"></div>
        <div class="side-nav-item--icon">
          <seam-icon *ngIf="icon" [icon]="icon"></seam-icon>
        </div>
        <span *ngIf="!compact" style="margin-left: 11px;" side-nav-item-label>
          {{ label }}
        </span>
        <span *ngIf="compact" class="sr-only" side-nav-item-label>{{ label }}</span>
      </a>
    </ng-template>

    <button *ngIf="hasChildren && !compact"
      type="button"
      class="btn side-nav-btn side-nav-item--toggle-btn-container rounded-0"
      (click)="toggleChildren()"
      [attr.aria-expanded]="expanded"
      cdkMonitorElementFocus>
      <seam-icon
        class="side-nav-item--toggle-btn"
        [class.side-nav-item--toggle-btn-expanded]="expanded"
        [icon]="faAngleLeft"
        type>
      </seam-icon>
      <span class="sr-only">Group Toggle</span>
    </button>
  </div>
</ng-template>

<ng-template #itemTypeDivider>
  <div class="px-2 w-100">
    <hr class="side-nav-item--divider" />
  </div>
</ng-template>

<ng-template #itemTypeTitle>
  <ng-container *ngIf="!compact">
    <span class="side-nav-item--title pt-1" side-nav-item-label>{{ label }}</span>
  </ng-container>
</ng-template>

<ng-template #itemBadge>
  <ng-container *ngIf="badgeText">
    <div class="badge-spacer flex-grow-1" *ngIf="!compact"></div>
    <div class="side-nav-item--badge"
      [class.side-nav-item--badge-no-icon]="!icon"
      [ngbTooltip]="$any(badgeTooltip)?.tooltip"
      [tooltipClass]="$any(badgeTooltip)?.class"
      [placement]="$any(badgeTooltip)?.placement"
      [container]="$any(badgeTooltip)?.container"
      [disableTooltip]="isMobile || !badgeTooltip || !!$any(badgeTooltip)?.disabled">
      <span class="badge badge-pill badge-{{ badgeTheme }}">
        <ng-container *ngIf="!compact || !icon">
          {{ badgeText }}
        </ng-container>
        <span *ngIf="badgeSrContent">{{ badgeSrContent }}</span>
      </span>
    </div>
  </ng-container>
</ng-template>
