<div [class]="options?.htmlClass || ''">
  <seam-form-field *ngIf="boundControl">
    <ng-template seamFormFieldLabelTpl let-required="required">
      <ng-container *ngIf="!options?.notitle">
        {{ options?.title }}<seam-form-field-required-indicator class="pl-1" [required]="options?.required"></seam-form-field-required-indicator>
      </ng-container>
    </ng-template>
    <input seamInput
      [formControl]="$any(formControl)"
      [ngClass]="options?.fieldHtmlClass"
      [id]="'control' + layoutNode?._id"
      [name]="controlName"
      [required]="options?.required"

      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
      [attr.maxlength]="options?.maxLength"
      [attr.minlength]="options?.minLength"
      [attr.pattern]="options?.pattern"
      [attr.placeholder]="options?.placeholder"
      [attr.required]="options?.required"
      [readonly]="options?.readonly ? 'readonly' : null"
      [type]="layoutNode?.type">
    <datalist *ngIf="options?.typeahead?.source"
      [id]="'control' + layoutNode?._id + 'Autocomplete'">
      <option *ngFor="let word of options?.typeahead?.source" [value]="word">
    </datalist>
  </seam-form-field>

  <seam-form-field *ngIf="!boundControl">
    <ng-template seamFormFieldLabelTpl let-required="required">
      <ng-container *ngIf="!options?.notitle">
        {{ options?.title }}<seam-form-field-required-indicator class="pl-1" [required]="options?.required"></seam-form-field-required-indicator>
      </ng-container>
    </ng-template>
    <input seamInput
      [ngClass]="options?.fieldHtmlClass"
      [id]="'control' + layoutNode?._id"
      [name]="controlName"
      [required]="options?.required"
      [value]="controlValue"
      (input)="updateValue($event)"

      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
      [attr.maxlength]="options?.maxLength"
      [attr.minlength]="options?.minLength"
      [attr.pattern]="options?.pattern"
      [attr.placeholder]="options?.placeholder"
      [attr.required]="options?.required"
      [readonly]="options?.readonly ? 'readonly' : null"
      [type]="layoutNode?.type"
      [disabled]="controlDisabled">
    <datalist *ngIf="options?.typeahead?.source"
      [id]="'control' + layoutNode?._id + 'Autocomplete'">
      <option *ngFor="let word of options?.typeahead?.source" [value]="word">
    </datalist>
  </seam-form-field>
</div>
