<div
  class="seam-file-tile"
  [class.seam-file-tile--row]="variant() === 'row'"
  [class.seam-file-tile--preview]="variant() === 'preview'"
>
  @if (variant() === 'row') {
    <span
      class="seam-file-tile__visual"
      [class.seam-file-tile__visual--image]="!!_thumbUrl()"
    >
      @if (_thumbUrl(); as url) {
        <img class="seam-file-tile__thumb" [src]="url" [alt]="item().name" />
      } @else {
        <seam-icon [icon]="_mimeIcon()"></seam-icon>
      }
    </span>
    <div class="seam-file-tile__body">
      <div class="seam-file-tile__name" [attr.title]="item().name">
        {{ item().name }}
      </div>
      @if (showMeta() && _metaLine(); as meta) {
        <div class="seam-file-tile__meta">{{ meta }}</div>
      }
    </div>
    @if (_showRemoveBtn()) {
      <button
        type="button"
        class="seam-file-tile__remove"
        (click)="_onRemove($event)"
        title="Remove file"
      >
        <seam-icon [icon]="_faTimes"></seam-icon>
      </button>
    }
  } @else {
    @if (_showRemoveBtn()) {
      <button
        type="button"
        class="seam-file-tile__remove seam-file-tile__remove--overlay"
        (click)="_onRemove($event)"
        title="Remove file"
      >
        <seam-icon [icon]="_faTimes"></seam-icon>
      </button>
    }
    <span class="seam-file-tile__preview-media">
      @if (_thumbUrl(); as url) {
        <img class="seam-file-tile__thumb" [src]="url" [alt]="item().name" />
      } @else {
        <span class="seam-file-tile__visual">
          <seam-icon [icon]="_mimeIcon()"></seam-icon>
        </span>
      }
    </span>
    @if (showName()) {
      <div class="seam-file-tile__preview-name" [attr.title]="item().name">
        {{ item().name }}
      </div>
    }
  }
</div>
