<div class="tiled-select--container"
  [class.grid]="layout === 'grid'"
  [class.list]="layout === 'list'"
  [@tiles]="tilesAnimationState"
  [@.disabled]="animationsDisabled">
  <ng-container *ngFor="let tile of tiles; let index = index">
    <div class="tile-wrapper" [ngClass]="tile.customClass || ''">
      <seam-tiled-select-tile
        class="tiled-select-tile"
        [ngClass]="tile.customClass || ''"
        [name]="tile.name"
        [label]="tile.label"
        [icon]="tile.icon"
        [disabled]="disabled || tile.disabled"
        [attr.hidden]="tile.hidden"
        [layout]="layout"
        [selected]="isSelected(tile)"
        [selectable]="true"
        [tileBackdrop]="tileBackdrop"
        [showSelectedIcon]="showSelectedIcon"
        [overlayTpl]="getOverlayTpl(tile)"
        (activated)="onTileSelected($event, tile)"
        [attr.data-tile-index]="index">
      </seam-tiled-select-tile>
    </div>
  </ng-container>
</div>
