@import '../../../../styles/utilities';

:host {
  display: block;
  height: 100%;

  ::ng-deep {
    router-outlet + * {
      background-color: $white;
      height: 100%;
    }
  }
}

// .hierarchy-router-outlet--content {}

// .hierarchy-router-outlet--route-container {
//   position: absolute;
//   top: 0;
//   left: 100%;
// }
