<div class="d-block border rounded border-lightgray">
  <div [formGroup]="_form" (ngSubmit)="_onSubmit()" class="d-block position-relative">
    <div>
      <div class="p-1">
        <!-- <textarea formControlName="prompt" style="width: 800px; height: 100px;"></textarea> -->
        <seam-form-field [numPaddingErrors]="0">
          <seam-rich-text
            seamInput
            formControlName="prompt"
            placeholder="Describe what you want to apply to the datatable."
            [rows]="3"
            [resizable]="false"
            [disableRichText]="true"></seam-rich-text>
        </seam-form-field>
      </div>
      <div class="p-1">
        <button class="mr-1" type="submit" seamButton theme="primary" size="sm" (click)="_onSubmit()">Submit</button>
        <button seamButton theme="lightgray" size="sm" (click)="_form.reset()">Reset</button>
      </div>
    </div>
    <div *ngIf="loading$ | async" class="d-block position-absolute" style="top: 0; left: 0; right: 0; bottom: 0;">
      <seam-loading></seam-loading>
    </div>
  </div>

  <div class="p-2" *ngIf="showAlts">
    <div>Active Alterations</div>
    <div class="p-2 border rounded bg-lightgray">
      <!-- {{ _alterations$ | async | json }} -->
      <div *ngFor="let alteration of _alterations$ | async; let last = last">
        <div class="d-flex align-items-center border border-dark rounded p-1" [class.mb-1]="!last">
          <span class="badge bg-secondary">{{ alteration.type }}</span>
          <!-- <span class="badge bg-primary">{{ alteration.label }}</span> -->
          <!-- <div>
            {{ alteration.value | json }}
          </div> -->
          <div *ngIf="alteration.type === 'sort'">
            <div class="d-flex flex-column">
              <div *ngFor="let sort of alteration.state.sorts; let last = last" [class.mb-1]="!last">
                <span class="badge bg-lightgray">{{ sort.prop }} ({{ sort.dir }})</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <seam-alterations-diff
      [currentItems]="(_alterationsDisplayItems$ | async) ?? []"
      [pendingItems]="(_pendingAlterationsDisplayItems$ | async) ?? []"
      [compact]="compact"
      [diffMode]="diffMode"
    ></seam-alterations-diff>
  </div>
</div>
