<!--
  This is an ugly trick I am using to render the component into an <ng-content>
  wrapped in an <ng-template> to move the component to different outlets without
  reinitializing it. This way the widget won't reload when moving between
  columns. When I remember how I programatically did this I will remove this
  weirdness.
 -->
 <seam-dashboard-widget-container *ngFor="let item of widgetItems$ | async; trackBy: _containerTrackByFn" [def]="$any(item)">
  <!-- <ng-template [cdkPortalOutlet]="item.portal"></ng-template> -->
  <ng-template [seamDashboardWidgetPortalOutlet]="item.portal" [widgetId]="widgetId"></ng-template>
</seam-dashboard-widget-container>

<div class="dashboard-widgets-base d-flex flex-row justify-content-around"
  style="flex: 1410px;"
  [style.padding.px]="_gapStyleSize$ | async"
  (seamElemResized)="_resized($event)"
  cdkDropListGroup>
  <div *ngFor="let col of widgetColumns$ | async; trackBy: _columnsTrackByFn"
    class="d-flex flex-column flex-grow-1 dashboard-widgets-list"
    cdkDropList
    [cdkDropListData]="col.items"
    (cdkDropListDropped)="drop($any($event))">
    <div *ngFor="let item of col.items; trackBy: _containerTrackByFn"
      class="dashboard-widgets-list-item"
      [attr.data-widget-id]="item.widgetId"
      cdkDrag
      [cdkDragDisabled]="!widgetsDraggable">
      <div [style.margin.px]="_gapStyleSize$ | async">
        <seam-dashboard-widget-template-container [item]="item"></seam-dashboard-widget-template-container>
      </div>
    </div>
  </div>
</div>

<ng-template #toggleBtnTpl>
  <button seamButton theme="baselayout-action" title="{{ widgetsDraggable ? 'Lock the Dashboard' : 'Modify Dashboard' }}" (click)="toggleDragging()">
    <seam-icon [icon]="widgetsDraggable ? faUnlock : faLock"></seam-icon>
  </button>
</ng-template>
