$seam-top-bar-padding: 8px !default;
$seam-top-bar-margin: 0px !default;
$seam-top-bar-bg: white !default;
$seam-top-bar-border-radius: 0 !default;
$seam-top-bar-box-shadow: none !default;

$seam-top-bar-logo-height: auto !default;
$seam-top-bar-logo-width: auto !default;
$seam-top-bar-logo-max-height: 60px !default;
$seam-top-bar-logo-max-width: 200px !default;

$seam-top-bar-logo-mobile-height: auto !default;
$seam-top-bar-logo-mobile-width: auto !default;
$seam-top-bar-logo-mobile-max-height: 40px !default;
$seam-top-bar-logo-mobile-max-width: 150px !default;

$seam-top-bar-menu-button-min-width: 200px !default;
$seam-top-bar-menu-button-mobile-min-width: 40px !default;
