:host {
  display: flex;
  flex-direction: column;
  width: 340px;
}

@media screen and (max-width: 340px) {
  :host {
    width: auto;
  }
}

.password-validators-list--header {
  color: var(--gray-900, #212529);
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding: 6px 10px 0 10px;
  margin-bottom: 0;
}

hr {
  margin: 5px 0 10px 0;
}

.password-validators-list--items {
  color: black;
  font-size: 15px;
  padding: 0 10px 10px 21px;
}

.password-validators-list--item {
  display: flex;
  flex-direction: row;
}

.password-validators-list--item-icon {
  flex: 0 0 auto;
  width: 30px;
  height: 24px;
}
