<ng-container *ngIf="_gmApiLoaded | async">
  <google-map
    height="100%"
    width="100%"
    [center]="{ lat: latitude, lng: longitude }"
    [zoom]="zoom"
    [options]="_options"
    (mapInitialized)="_onMapReady($any($event))"
    >
  </google-map>
</ng-container>
<seam-menu #featureContextMenu>
  <button seamMenuItem (click)="_onClickDeleteFeature()">Delete</button>
</seam-menu>
<seam-map-file-drop *ngIf="fileDropEnabled"></seam-map-file-drop>

<seam-map-control *ngIf="fileUploadControlEnabled" [def]="_fileUploadControlDef"></seam-map-control>
<seam-map-control *ngIf="reCenterControlEnabled" [def]="_reCenterControlDef"></seam-map-control>
