$seam-side-nav-bg-color: $primary !default;
$seam-side-nav-bg: $seam-side-nav-bg-color !default;

// Backdrop
$seam-side-nav-background-bg-color: rgba($dark, 0.6) !default;

// Group
$seam-side-nav-group-bg-variation-amount: 3% !default;

// Item
$seam-side-nav-item-bg-color-active: darken($seam-side-nav-bg-color, 10%) !default;
$seam-side-nav-item-bg-color-hover: darken($seam-side-nav-bg-color, 5%) !default;

$seam-side-nav-item-color: $white !default;
$seam-side-nav-item-color-active: $seam-side-nav-item-color !default;

$seam-side-nav-item-disabled-color: darken($seam-side-nav-item-color, 20%) !default;

$seam-side-nav-item-toggle-color: $seam-side-nav-item-color !default;
$seam-side-nav-item-toggle-color-active: $seam-side-nav-item-toggle-color !default;
$seam-side-nav-item-toggle-color-hover: $seam-side-nav-item-toggle-color !default;

$seam-side-nav-item-toggle-disabled-color: darken($seam-side-nav-item-toggle-color, 20%) !default;

// Divider
$seam-side-nav-divider-color: darken($seam-side-nav-bg-color, 10%) !default;
$seam-side-nav-divider-size: 1px !default;

// Title
$seam-side-nav-title-color: $seam-side-nav-item-color !default;

$seam-side-nav-title-font-size: 24px !default;

$seam-side-nav-title-padding-left: 10px !default;

// Toggle
$seam-side-nav-toggle-bg-color: $seam-side-nav-bg-color !default;
$seam-side-nav-toggle-btn-color: $seam-side-nav-item-color !default;
$seam-side-nav-toggle-height: 45px !default;
