:host {
  display: block;
}

.seam-signature-input-text {
  border-bottom: 1px solid black;
}

.seam-signature-input-text__header {
  font-weight: 500;
}

.seam-signature-input-text__status {
  display: block;
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  font-size: 20px;
}

.seam-signature-input-text__status-headline {
  font-size: 20px;
}
