@import './bootstrap/bs-variables';

// Base Layout
//
//
$base-header-margin: .25rem !default;
$base-action-margin: 0 0 0 .25rem !default;
$base-action-bg: $gray-200 !default;
$base-action-hover-bg: #d3d9df !default;
$base-action-color: $gray-600 !default;
$base-action-hover-color: $gray-600 !default;
$base-action-padding-x: 1rem !default;
$base-action-padding-y: .5rem !default;
$base-action-border-radius: .25rem !default;

$seam-dashboard-width: 1410px !default;
$seam-dashboard-column-width: 500px !default;

// Widgets
$seam-widget-header-title-font-size: 17px !default;

$seam-widget-header-icon-height: 20px !default;
$seam-widget-header-icon-width: 20px !default;
$seam-widget-header-background: #F4F4F4 !default;

$seam-widget-body-font-size: 15px !default;

$seam-widget-content-header-padding: 0.5rem 0.5rem 1rem 0.5rem !default;

$seam-widget-footer-font-size: 13px !default;
$seam-widget-footer-link-margin-top: 0.5rem !default;
$seam-widget-footer-text-margin-top: 0.5rem !default;
$seam-widget-footer-margin: 0.25rem !default;

$seam-widget-tile-font-size: 14px !default;
$seam-widget-tile-line-height: 18px !default;
$seam-widget-tile-color: $body-color !default;
$seam-widget-tile-background-color-hover: #f4f4f4 !default;
$seam-widget-tile-border-color: $border-color !default;
$seam-widget-tile-border-radius: 10px !default;
$seam-widget-tile-margin-bottom: 0.5rem !default;

$seam-widget-tile-footer-item-font-size: 12px !default;

$seam-widget-empty-label-padding: 0.5rem !default;

// Progress Circle
$seam-progress-complete: $green !default;
$seam-progress-complete-bg: lighten($green, 40%) !default;

$seam-progress-incomplete: $orange !default;
$seam-progress-incomplete-bg: lighten($orange, 40%) !default;

$seam-progress-new: $gray-600 !default;
$seam-progress-new-bg: lighten($gray-600, 40%) !default;
