@import '../styles/utilities';

:host {
  // When using a mouse, the first item doesn't need to display as focused, if it isn't hovered by the mouse.
  &.cdk-mouse-focused:not(:hover){
    background: transparent;
  }

  &[aria-expanded] {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-hover-bg);
  }
}
