<div class="d-flex flex-row">
  [{{ hasFooter$ | async }}]
  <seam-icon *ngIf="icon"
    style="width: 30px; height: 20px; flex: 0 0 auto;"
    class="pr-2"
    [icon]="icon"
    [iconClass]="iconClass"
    iconType="image-fill">
  </seam-icon>
  <!-- <span class="text-nowrap">
    <ng-content></ng-content>
  </span> -->
  <div class="text-truncate">
    <ng-content></ng-content>
  </div>

  <div *ngIf="badgeText">
    <span class="badge badge-pill{{ badgeTheme ? ' badge-' + badgeTheme : '' }} position-relative"
      style="top: -8px"
      >{{ badgeText }}</span>
  </div>
</div>
