<div class="d-flex flex-row">
  <div style="position: relative">
    <seam-icon
      [icon]="icon"
      [iconType]="iconType"
      [iconClass]="iconClass"
      [disabled]="disabled">
    </seam-icon>

    <seam-icon *ngIf="notificationIcon"
      class="widget-tile--notification-icon"
      [icon]="notificationIcon"
      iconType="image-fill"
      [iconClass]="notificationIconClass"
      [disabled]="disabled">
    </seam-icon>
  </div>
  <div class="flex-grow-1 text-left pl-2" style="margin: auto 0;">
    <ng-content></ng-content>
  </div>
  <div *ngIf="secondaryIcon">
    <ng-template [ngTemplateOutlet]="secondaryIcon.template"></ng-template>
  </div>
</div>
