@import '../../styles/utilities';

seam-widget-tile,
a[seam-widget-tile],
button[seam-widget-tile] {
  display: block;
  width: 100%;
  padding: 4px 4px 4px 4px;
  text-decoration: none;

  color: $seam-widget-tile-color;
  font-size: $seam-widget-tile-font-size;
  font-weight: $font-weight-normal;
  line-height: $seam-widget-tile-line-height;
  border: 1px solid $seam-widget-tile-border-color;
  border-radius: $seam-widget-tile-border-radius;
  margin-bottom: $seam-widget-tile-margin-bottom;

  @include transition($btn-transition);

  @include hover {
    color: $seam-widget-tile-color;
    background-color: $seam-widget-tile-background-color-hover;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    box-shadow: $btn-focus-box-shadow;
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    pointer-events: none;
    cursor: default;
    @include box-shadow(none);

    filter: grayscale(1);
  }

  &:not(:diabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .widget-tile--notification-icon {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 15px !important;
    height: 15px !important;

  }

  seam-icon img[src$=".svg"] {
    height: 100%; // Needed for IE
  }

}
