:host {
  display: block;

  ::ng-deep {
    .upload-fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999 !important;
    }
  }
}

agm-map {
  height: 400px;
  width: 100%;
}
