<!-- <seam-edit-controls-wrapper></seam-edit-controls-wrapper> -->
<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [mapTypeControl]="true"
  mapTypeId="hybrid"
  [streetViewControl]="false"
  (mapReady)="_onMapReady($event)"
  [fullscreenControl]="true">
</agm-map>
<seam-menu #featureContextMenu>
  <button seamMenuItem (click)="_onClickDeleteFeature()">Delete</button>
  <!-- <button seamMenuItem>Item 2</button>
  <button seamMenuItem>Item 3</button> -->
</seam-menu>
