:host {
  display: block;
}

.map-control-layers-group-btn-collapse {
  ::ng-deep {
    .seam-icon--fa {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      height: 15px;
      width: 30px;

      .svg-inline--fa {
        max-width: 100%;
        height: 100%;
        width: 100%;

        transition: 100ms ease-in-out transform;
      }
    }
  }

  &[data-collapsed=true] {
    ::ng-deep {
      .svg-inline--fa {
        transform: rotate(-90deg);
      }
    }
  }
}
