<seam-modal-body>
  <ng-container *ngIf="tpl; else messageTpl">
    <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="{ $implicit: tplContext }"></ng-container>
  </ng-container>

  <ng-template #messageTpl>
    <h5>{{ message }}</h5>

    <div *ngIf="alertMessage" class="alert {{ alertType ? 'alert-' + alertType : '' }} mb-0">
      {{ alertMessage }}
    </div>
  </ng-template>

</seam-modal-body>
<seam-modal-footer>
  <button class="btn btn-primary" seamModalClose="confirm">Yes</button>
  <button class="btn btn-lightgray" data-dismiss="modal" seamModalClose="cancel" seamAutoFocus>No</button>
</seam-modal-footer>
