.base-layout-content-container-header {
  margin: $base-header-margin;
}

.btn-baselayout-action {
  margin: $base-action-margin;
  @include button-variant(
    $background: $base-action-bg,
    $border: $base-action-bg,
    $hover-background: $base-action-hover-bg,
    $active-background: $base-action-hover-bg,);
  @include button-size($base-action-padding-y, $base-action-padding-x, $font-size-base, $line-height-base, $base-action-border-radius);
  border: none;
  color: $base-action-color;
  @include hover() {
    color: $base-action-hover-color;
  }
  &:focus,
  &.focus {
    color: $base-action-hover-color;
  }
}

.dashboard-widgets-base {
  max-width: $seam-dashboard-width;
}

.dashboard-widgets-list {
  max-width: $seam-dashboard-column-width;
}

.seam-progress-circle {
  .seam-progress-circle--icon-check,
  .seam-progress-circle--icon-text {
    color: $seam-progress-complete;
  }
  .seam-progress-circle--icon-spinner {
    .seam-progress-circle--icon-spinner-path {
      stroke: $seam-progress-complete;
    }
    .seam-progress-circle--icon-hourglass {
      fill: $seam-progress-complete;
    }
    .seam-progress-circle--icon-spinner-path-bg {
      stroke: $seam-progress-complete-bg;
    }
  }
}
.seam-progress-circle--in-complete {
  .seam-progress-circle--icon-spinner {
    .seam-progress-circle--icon-spinner-path {
      stroke: $seam-progress-incomplete;
    }
    .seam-progress-circle--icon-spinner-path-bg {
      stroke: $seam-progress-incomplete-bg;
    }
    &[data-percent='0'] {
      .seam-progress-circle--icon-spinner-path {
        stroke: $seam-progress-new;
      }
      .seam-progress-circle--icon-spinner-path-bg {
        stroke: $seam-progress-new-bg;
      }
    }
  }
}

.seam-progress-circle--fill-bg {
  .seam-progress-circle--icon-spinner-path-bg {
    fill: $white;
  }
}
