.seam-widget {
  font-size: $seam-widget-body-font-size;
  .widget-header {
    border-bottom: 1px solid $border-color;
    background-color: $seam-widget-header-background;
    font-size: $seam-widget-header-title-font-size;
    .widget-header-title {
      font-size: $seam-widget-header-title-font-size;
    }
  }
  .widget-header-icon {
    max-height: $seam-widget-header-icon-height;
    max-width: $seam-widget-header-icon-width;
    height: $seam-widget-header-icon-height;
    width: $seam-widget-header-icon-width;
    .widget-header-icon--fa {
      max-height: $seam-widget-header-icon-height;
      max-width: $seam-widget-header-icon-width;
      height: $seam-widget-header-icon-height;
      width: $seam-widget-header-icon-width;
    }
    .widget-header-icon--img {
      max-height: $seam-widget-header-icon-height;
      max-width: $seam-widget-header-icon-width;
    }
  }
  .seam-widget-content-header {
    padding: $seam-widget-content-header-padding;
  }
  .seam-widget-empty-label {
    font-size: $seam-widget-body-font-size;
    padding: $seam-widget-empty-label-padding;
  }
  .seam-widget-footer-link {
    margin-top: $seam-widget-footer-link-margin-top;
  }
  .seam-widget-footer-text {
    font-size: $seam-widget-footer-font-size;
    margin-top: $seam-widget-footer-text-margin-top;
  }
  .seam-widget-header-badge {
    font-size: $seam-widget-header-title-font-size;
  }
  .seam-widget-tile {
    color: $seam-widget-tile-color;
    font-size: $seam-widget-tile-font-size;
    font-weight: $font-weight-normal;
    line-height: $seam-widget-tile-line-height;
    border: 1px solid $seam-widget-tile-border-color;
    border-radius: $seam-widget-tile-border-radius;
    margin-bottom: $seam-widget-tile-margin-bottom;

    @include transition($btn-transition);

    @include hover {
      color: $seam-widget-tile-color;
      background-color: $seam-widget-tile-background-color-hover;
    }

    &:focus,
    &.focus {
      box-shadow: $btn-focus-box-shadow;
    }

    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
    }

    &:not(:diabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      @include box-shadow($btn-active-box-shadow);

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }
  .seam-widget-footer {
    margin: $seam-widget-footer-margin;
  }
}
