$base-header-margin: .25rem !default;
$base-header-padding: 0 !default;
$base-header-background: none !default;
$base-header-border-radius: 0 !default;

$base-action-margin: 0 0 0 .25rem !default;
$base-action-bg: $gray-200 !default;
$base-action-hover-bg: #d3d9df !default;
$base-action-color: $gray-600 !default;
$base-action-hover-color: $gray-600 !default;
$base-action-padding-x: 1rem !default;
$base-action-padding-y: .5rem !default;
$base-action-border-radius: .25rem !default;

$base-layout-top-bar-container-border-top: none !default;
$base-layout-top-bar-container-border-right: none !default;
$base-layout-top-bar-container-border-bottom: 1px solid #dee2e6 !default;
$base-layout-top-bar-container-border-left: none !default;

$base-layout-side-bar-container-border-top: none !default;
$base-layout-side-bar-container-border-right: 1px solid #dee2e6 !default;
$base-layout-side-bar-container-border-bottom: none !default;
$base-layout-side-bar-container-border-left: none !default;
