@import '../../styles/utilities';

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

// NOTE: Global styles should not be set by a component. This is only here to
// make the action menu items look the same as they did before the switch to
// `seam-menu` component, which has a `min-width` set. This should probably just
// be removed and allow the `min-width`.
::ng-deep {
  .seam-datatable-action-menu, .seam-action-menu {
    min-width: auto !important;
  }
}

ngx-datatable {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.datatable-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .datatable-table-wrapper {
    position: relative;
    flex: 1 1 100%;
  }
}

.datatable-column-header-separator {
  position: absolute;
}

.datatable-sort-target {
  cursor: pointer;
}

// This prevents the bug where users can infinitely scroll
// to the right, outside the table content.
//
// The issue only appears with columnMode: force and content
// in the "right" section of the datatable (e.g. the action menu
// button when actionItemColumnPosition: frozenRight).
//
// I couldn't find the exact source of the bug, but it's got
// something to do with the OverlayScrollbars implementation.
// Perhaps an issue measuring container width when the right-hand
// column is frozen to the outer edge of the container?
::ng-deep .ngx-datatable {
  .datatable-body-row {
    position: relative;
  }

  .datatable-row-right {
    position: absolute !important;
    top: 0;
  }

  .datatable-row-right {
    right: 0;
  }
}
