<div class="datatable-wrapper">
  <ng-content select="seam-datatable-menu-bar"></ng-content>
  <div class="datatable-table-wrapper">
    <ng-container>
      <!-- [loadingIndicator]="true" -->
      <ngx-datatable
        class="bootstrap"
        [columnMode]="columnMode"
        [scrollbarV]="scrollbarV"
        [scrollbarH]="scrollbarH"
        [virtualization]="virtualization"
        [targetMarkerTemplate]="targetMarkerTemplate"
        [groupRowsBy]="groupRowsBy"
        [groupedRows]="groupedRows"
        [selected]="selected"
        [externalPaging]="externalPaging"
        [externalSorting]="externalSorting"
        [limit]="limit"
        [count]="count"
        [offset]="offset"
        [loadingIndicator]="loadingIndicator"
        [selectionType]="selectionType"
        [reorderable]="reorderable"
        [swapColumns]="swapColumns"
        [sortType]="sortType"
        [sorts]="sorts"
        [cssClasses]="cssClasses"
        [messages]="messages"
        [rowIdentity]="rowIdentity"
        [rowClass]="rowClass"
        [selectCheck]="selectCheck"
        [displayCheck]="displayCheck"
        [groupExpansionDefault]="groupExpansionDefault"
        [trackByProp]="trackByProp"
        [selectAllRowsOnPage]="selectAllRowsOnPage"
        [treeFromRelation]="treeFromRelation"
        [treeToRelation]="treeToRelation"
        [summaryRow]="summaryRow"
        [summaryHeight]="summaryHeight"
        [summaryPosition]="summaryPosition"
        [rows]="rows$ | async"
        [columns]="displayColumns$ | async"
        [headerHeight]="headerHeight"
        [rowHeight]="rowHeight"
        [footerHeight]="footerHeight"
        (scroll)="scroll.emit($event)"
        (activate)="activate.emit($event)"
        (select)="select.emit($event)"
        (sort)="sort.emit($event)"
        (page)="page.emit($event)"
        (reorder)="reorder.emit($event)"
        (resize)="_onResize($event)"
        (tableContextmenu)="tableContextmenu.emit($event)"
        (treeAction)="treeAction.emit($event)"
        (seamElemResized)="onDatatableResize($event)"
        (treeAction)="_onTreeAction($event)">

        <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader *ngIf="groupRowsBy">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div
              class="w-100 bg-light p-1"
              [class.border-bottom]="!expanded"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Group"
              (click)="ngxDatatable.groupHeader.toggleExpandGroup(group)">
              <b>Age: {{ group.age }}</b>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-row-detail *ngIf="rowDetail"
          [rowHeight]="rowDetail.rowHeight"
          [template]="rowDetail.template"
          (toggle)="rowDetail.toggle.emit($event)">
        </ngx-datatable-row-detail>

      </ngx-datatable>
    </ng-container>
  </div>
</div>

<ng-template #blankHeaderTpl ngx-datatable-header-template></ng-template>

<ng-template #headerTpl ngx-datatable-header-template
  let-column="column" let-sortFn="sortFn">
  <strong *ngIf="!column.sortable" class="draggable">{{column.name}}</strong>
  <strong *ngIf="column.sortable" class="datatable-sort-target draggable" (click)="sortFn()">{{column.name}}</strong>
  <div class="datatable-column-header-separator"></div>
</ng-template>

<ng-template #cellTypeSelectorTpl ngx-datatable-cell-template
  let-value="value" let-rowIndex="rowIndex" let-row="row" let-column="column">
  <seam-table-cell-type-selector *ngIf="row"
    [type]="column.cellType"
    [value]="value"
    [rowIndex]="rowIndex"
    [row]="row"
    [colData]="column">
  </seam-table-cell-type-selector>
</ng-template>

<ng-template #actionMenuCellTpl ngx-datatable-cell-template
  let-value="value" let-rowIndex="rowIndex" let-row="row">

  <ng-container *ngIf="row">
    <ng-template
      [ngTemplateOutlet]="rowActionItem.template"
      [ngTemplateOutletContext]="{ $implicit: row, row: row, rowIndex: rowIndex }">
    </ng-template>
  </ng-container>

</ng-template>

<ng-template #treeToggleTpl ngx-datatable-tree-toggle let-tree="cellContext">
  <button
    class="p-0 bg-transparent border-0 btn"
    [disabled]="tree.treeStatus==='disabled'"
    (click)="tree.onTreeAction()">
    <span *ngIf="tree.treeStatus==='loading'">
      <fa-icon [icon]="faSpinner"></fa-icon>
    </span>
    <span *ngIf="tree.treeStatus==='collapsed'">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </span>
    <span *ngIf="tree.treeStatus==='expanded'">
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </span>
    <span *ngIf="tree.treeStatus==='disabled'">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </span>
  </button>
</ng-template>
