@import '../../styles/utilities';

:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.datatable-action-button {
  &::ng-deep {
    .svg-inline--fa {
      vertical-align: middle;
    }
  }

}
