$seam-widget-header-title-font-size: 17px !default;

$seam-widget-header-icon-height: 20px !default;
$seam-widget-header-icon-width: 20px !default;
$seam-widget-header-background: #F4F4F4 !default;

$seam-widget-body-background: #FFFFFF !default;
$seam-widget-body-font-size: 15px !default;

$seam-widget-content-header-padding: 0.5rem 0.5rem 1rem 0.5rem !default;

$seam-widget-footer-font-size: 13px !default;
$seam-widget-footer-link-margin-top: 0.5rem !default;
$seam-widget-footer-text-margin-top: 0.5rem !default;
$seam-widget-footer-margin: 0.25rem !default;

$seam-widget-tile-font-size: 14px !default;
$seam-widget-tile-line-height: 18px !default;
$seam-widget-tile-color: $body-color !default;
$seam-widget-tile-background-color-hover: #f4f4f4 !default;
$seam-widget-tile-border-color: $border-color !default;
$seam-widget-tile-border-radius: 10px !default;
$seam-widget-tile-margin-bottom: 0.5rem !default;

$seam-widget-tile-footer-item-font-size: 12px !default;

$seam-widget-empty-label-padding: 0.5rem !default;
