$seam-guide-popover-bg: $white !default;
$seam-guide-popover-color: $body-color !default;
$seam-guide-popover-border-radius: $border-radius !default;
$seam-guide-popover-max-width: 20rem !default;
$seam-guide-overlay-color: rgba(0, 0, 0, 0.6) !default;
