@import '../styles/utilities';

seam-side-nav-toggle {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  background: $seam-side-nav-toggle-bg-color;

  // &.side-nav-toggle--compact {
  //   width: 50px;
  // }
  position: relative;
  height: $seam-side-nav-toggle-height;
  width: 100%;

  //
  .side-nav-toggle--content {
    flex: 1 1 0;
  }

  .side-nav-toggle--btn {
    color: $seam-side-nav-toggle-btn-color;

    seam-icon {
      padding: 5px;
    }
  }
}
