<div class="side-nav-toggle--content">
  <ng-container *ngIf="expanded">
    <ng-content></ng-content>
  </ng-container>
</div>

<ng-container *ngIf="toggleTpl; else iconBtn">
  <button
    class="side-nav-toggle--btn mx-1"
    (click)="toggle()">
    <span class="sr-only">Toggle sidebar</span>
    <ng-container *ngTemplateOutlet="toggleTpl"></ng-container>
  </button>
</ng-container>

<ng-template #iconBtn>
  <button seamIconBtn [icon]="toggleIcon"
    iconType="borderless-styled-square"
    btnSize="sm"
    class="side-nav-toggle--btn mx-1"
    (click)="toggle()">
    <span class="sr-only">Toggle sidebar</span>
  </button>
</ng-template>
