<div
  class="tabbed-root"
  [style.flex-direction]="direction === 'horizontal' ? 'column' : 'row'"
>
  <!-- Tabs -->
  <div
    *ngIf="!hideTabs"
    class="tabbed-tabs"
    [style.flex-direction]="direction === 'horizontal' ? 'row' : 'column'"
  >
    <ng-container *ngFor="let tabbedItem of tabbedItems$ | async">
      <div
        class="tabbed-tab pt-2 pb-2 pl-4 pr-4 bg-light text-nowrap"
        [class.tab-dir-horizontal]="direction === 'horizontal'"
        [class.tab-dir-vertical]="direction === 'vertical'"
        (click)="onClickTab($event, tabbedItem)"
        [class.active]="tabbedItem === (selectedTab$ | async)"
      >
        <ng-template
          *ngIf="tabbedItem.tabbedTabTpl; else tabLabelTpl"
          [ngTemplateOutlet]="tabbedItem.tabbedTabTpl"
        ></ng-template>
        <ng-template #tabLabelTpl>{{ tabbedItem?.label }}</ng-template>
      </div>
    </ng-container>
  </div>

  <!-- Tabs Content -->
  <div class="tabbed-tabs-content bg-light">
    <ng-container *ngIf="onlyRouteContent; else notOnlyRouteContent">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #notOnlyRouteContent>
      <ng-container *ngIf="selectedTab$ | async as selectedTab">
        <seam-tabbed-content
          class="tabbed-content-fill"
          [tabbedItem]="selectedTab"
        ></seam-tabbed-content>
      </ng-container>
    </ng-template>
  </div>
</div>
