@import '../styles/utilities';

:host {
  display: block;
}

.tabbed-tab {
  box-sizing: border-box;
  font-weight: normal;
  font-size: 10pt;
  min-width: 130px;
  transform: translateZ(0);
  overflow: hidden;

  border: $border-width solid $border-color;

  &:not(.active) {
    background-color: $white !important;
  }

  &.active {
    font-weight: bold;
    color: $primary;
  }

  &:hover {
    cursor: pointer;
  }

  &.tab-dir-horizontal {
    border-bottom: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
    }
    &:not(:last-child) {
      border-right: 0;
    }

    &.active {
      margin-bottom: -2px;
    }
  }

  &.tab-dir-vertical {
    border-right: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $border-radius;
    }
    &:not(:last-child) {
      border-bottom: 0;
    }

    &.active {
      margin-right: -2px;
    }
  }

}

.tabbed-tabs-content {
  display: block;
  flex: 1 1 auto;
  overflow: hidden;

  border: $border-width solid $border-color;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
