<div
  [class]="options?.htmlClass || ''">
  <div [class.btn-group]="_dropdownObj">
    <button seamButton theme="primary" type="submit"
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="'btn btn-primary ' + (options?.fieldHtmlClass || '')"
      [disabled]="controlDisabled"
      [id]="'control' + layoutNode?._id"
      [name]="controlName"
      [value]="controlValue"
      (click)="updateValue($event)">
      {{ _buttonLabel }}
      <span *ngIf="_selectedItem">
        [{{ _selectedItem.name }}]
      </span>
    </button>
    <ng-container *ngIf="_dropdownObj">
      <button
        [seamMenuToggle]="menu" seamButton theme="primary"
        class="dropdown-toggle dropdown-toggle-split"
        [disabled]="_dropdownDisabled">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <seam-menu #menu>
        <ng-container *ngFor="let item of _selectList">
          <button seamMenuItem
            [class.active]="item.checked"
            (click)="_setDropdownValue(item.value)">
            {{ item.name }}
          </button>
        </ng-container>
      </seam-menu>
    </ng-container>
  </div>
</div>
