<table cdk-table [dataSource]="displayedRows" class="table table-header-divider-indented mb-0"
  [class.table-striped]="rows?.length > 0"
  [class.table-sm]="size === 'sm'"
  [class.table-no-header]="!hasHeader">
  <ng-container *ngFor="let r of displayedRecords; first as isFirst; trackBy:_trackByRecords">
    <ng-container [cdkColumnDef]="r.prop">
      <th cdk-header-cell *cdkHeaderCellDef>
        <ng-container *ngIf="hasHeader">
          {{ r.name }}
        </ng-container>
      </th>
      <td cdk-cell *cdkCellDef="let element; index as rowIndex"
        [attr.colspan]="element?._emptyDisplay && isFirst ? 2 : undefined"
        [class.border-top-0]="element?._emptyDisplay && isFirst"
        [class.d-none]="element?._emptyDisplay && !isFirst"
        [style]="r?.cellTypeConfig?.styles">

        <span [style]="r?.cellTypeConfig?.styles"></span>

        <ng-container *ngIf="element?._emptyDisplay && isFirst; else hasDataTpl">
          No records found
        </ng-container>

        <ng-template #hasDataTpl>
          <seam-table-cell-type-selector *ngIf="r?.cellType; else noCellType"
            [type]="r?.cellType"
            [value]="element[r.prop]"
            [rowIndex]="rowIndex"
            [row]="element"
            [colData]="r">
          </seam-table-cell-type-selector>
          <ng-template #noCellType>
            <div class="td-text-truncate" [title]="element[r.prop]">
              {{ element[r.prop] }}
            </div>
          </ng-template>
        </ng-template>

      </td>
    </ng-container>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
