<seam-form-field *ngIf="boundControl">
  <ng-template seamFormFieldLabelTpl let-required="required">
    <ng-container *ngIf="!options?.notitle">
      {{ options?.title }}<seam-form-field-required-indicator class="pl-1" [required]="options?.required"></seam-form-field-required-indicator>
    </ng-container>
  </ng-template>
  <seam-tiled-select
    seamInput
    [formControl]="$any(formControl)"
    [ngClass]="options?.fieldHtmlClass"
    [id]="'control' + layoutNode?._id"
    [attr.name]="controlName"
    [required]="options?.required"
    [attr.readonly]="options?.readonly ? 'readonly' : null"
    [tiles]="tiles"
    [layout]="layout"
    [multiple]="multiple"
    [selectionToggleable]="selectionToggleable"
    [tileBackdrop]="tileBackdrop"
    [showSelectedIcon]="showSelectedIcon"
    [animationsDisabled]="animationsDisabled">
  </seam-tiled-select>
</seam-form-field>

<seam-form-field *ngIf="!boundControl">
  <ng-template seamFormFieldLabelTpl let-required="required">
    <ng-container *ngIf="!options?.notitle">
      {{ options?.title }}<seam-form-field-required-indicator class="pl-1" [required]="options?.required"></seam-form-field-required-indicator>
    </ng-container>
  </ng-template>
  <seam-tiled-select
    seamInput
    [ngClass]="options?.fieldHtmlClass"
    [id]="'control' + layoutNode?._id"
    [attr.name]="controlName"
    [attr.required]="options?.required"
    [attr.readonly]="options?.readonly ? 'readonly' : null"
    [value]="controlValue"
    (input)="updateValue($event)"
    [disabled]="controlDisabled"
    [tiles]="tiles"
    [layout]="layout"
    [multiple]="multiple"
    [selectionToggleable]="selectionToggleable"
    [tileBackdrop]="tileBackdrop"
    [showSelectedIcon]="showSelectedIcon"
    [animationsDisabled]="animationsDisabled">
  </seam-tiled-select>
</seam-form-field>
