@import '../../../styles/utilities';

:host {
  position: relative;
}

.btn-group--measure {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  top: 0;
  left: -9999px;
}

.seam-menu-item.seam-menu-item-active,
.seam-menu-item.seam-menu-item-active.cdk-mouse-focused:not(:hover) {
  background: $primary;
  color: white;
}
